{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <h3>What is CareConnect?</h3>
    <p>CareConnect is a comprehensive caregiving service platform designed to connect individuals in need of caregiving assistance with qualified and vetted caregivers. Whether you require short-term support during recovery from surgery or long-term care for chronic illnesses, CareConnect offers personalized and professional care to meet your needs.</p>
{% endblock %}