{% extends 'appointments.html' %}

{% block title %}
    Reschedule Appointment - CareConnect
{% endblock %}

{% block content %}
    <h1>Reschedule Appointment</h1>
    <form action="{{ url_for('reschedule_appointment', appointment_id=appointment.id) }}" method="POST">
        {{ form.csrf_token }}
        <label for="date_time">New Date and Time:</label>
        <input type="datetime-local" id="date_time" name="date_time" required><br><br>
        <button type="submit">Reschedule Appointment</button>
    </form>
    <h2>Additional Actions</h2>
    <ul>
        <li><a href="{{ url_for('appointments') }}">Back to Appointments</a></li>
    </ul>
{% endblock %}
