{% extends 'patient_dashboard.html' %}

{% block content %}
<div class="container">
    <h2>Update Profile</h2>
    <form method="POST" action="{{ url_for('profile') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.patient_name.label(class="form-control-label") }}
            {{ form.patient_name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.patient_email.label(class="form-control-label") }}
            {{ form.patient_email(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.phone_number.label(class="form-control-label") }}
            {{ form.phone_number(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.condition.label(class="form-control-label") }}
            {{ form.condition(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.patient_location.label(class="form-control-label") }}
            {{ form.patient_location(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.gender.label(class="form-control-label") }}
            {{ form.gender(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.care_needed.label(class="form-control-label") }}
            {{ form.care_needed(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.preferences.label(class="form-control-label") }}
            {{ form.preferences(class="form-control") }}
        </div>
        <!-- Add other form fields as needed -->
        <button type="submit" class="btn btn-primary">Update Profile</button>
    </form>
</div>
{% endblock %}